<footer th:fragment="footerFragment(versionId)">
    <div class="footerContainer">
        <div class="footerTopMenu">
            <ul>
                <li><a th:href="@{/intro/intro_home}">회사소개</a></li>
                <li><a th:href="@{/policy/policy}">이용약관</a></li>
                <li><a th:href="@{/policy/policy}">전자금융거래약관</a></li>
                <li><a th:href="@{/policy/policy}" class="bold2">개인정보처리방침</a></li>
                <li><a th:href="@{/policy/policy}">청소년보호방침</a></li>
                <li><a href="#">임직원등록</a></li>
                <li><a href="#">준법경영</a></li>
                <li><a href="#">오류신고</a></li>
                <li><a href="#">리서치 패널가입</a></li>
            </ul>
            <div class="selectMenu">
                <select onchange="window.open(value,'_blank');">
                    <option selected disabled>판매자서비스</option>
                    <option value="https://support.lotteon.com/">판매자교육 센터</option>
                    <option value="https://api.lotteon.com/">API센터</option>
                </select>
                <select onchange="window.open(value,'_blank');">
                    <option selected disabled>Family Site</option>
                    <option value="https://www.lotteeatz.com/eatzevent.html">롯데리아</option>
                    <option value="https://kor.lottedfs.com/kr/shopmain/home">롯데면세점</option>
                    <option value="https://www.lottecinema.co.kr/">롯데시네마</option>
                    <option value="https://www.lotteworld.com/">롯데월드</option>
                    <option value="https://www.giantsclub.com/">롯데자이언츠</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="companyInfo">
            <img th:src="@{'/images/config/' + ${config.footerLogo}}" alt="footerLogo">
            <div class="infoWrapper">
                <div class="company">
                    <h3 th:text="${config.companyName}"></h3>
                    <ul>
                        <li th:text="${'대표이사 : ' + config.ceoName}"></li>
                        <li th:text="${'주소 : ' + config.addr1 + ' ' + config.addr2}"></li>
                        <li th:text="${'사업자등록번호 : ' + config.businessNo + '(롯데쇼핑(주) e커머스사업부)'}"></li>
                        <li th:text="${'통신판매업 신고 : ' + config.communicationNo}"></li>
                        <li>호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부</li>
                    </ul>
                    <h4>롯데쇼핑 e커머스 사업부 에스크로</h4>
                    <p>
                        고객님의 안전거래를 위해 현금 등으로 결제 시 결제금액 전액에 대해
                        <br>
                        소비자 피해 방지 서비스를 이용합니다.
                    </p>
                </div>
                <div class="customer">
                    <h3>고객센터</h3>
                    <div>
                        <p th:text="${'업무시간 : ' + config.businessHours}"></p>
                        <p th:text="${'전화번호 : ' + config.hp + '(유료)'}"></p>
                        <p>
                            E-mail :
                            <a href="#" th:text="${config.email}"></a>
                        </p>
                        <p>
                            <a href="#" class="anchorLine" target="_blank">분쟁해결기준</a>
                        </p>
                    </div>
                    <div>
                        <ul class="list">
                            <li>
                                <a th:href="@{/cust/cust_faq_user}">FAQ 보기</a>
                            </li>
                            <li>
                                <a th:href="@{/cust/cust_main}">1:1 문의하기</a>
                            </li>
                            <li>
                                <a th:href="@{/cust/cust_main}">고객센터</a>
                            </li>
                            <li>
                                <a th:href="@{/cust/cust_notice_main}">공지사항</a>
                            </li>
                        </ul>
                    </div>
                    <h3>전자금융거래 분쟁 담당</h3>
                    <div>
                        <p th:text="${'Tel : ' + config.eft + '(유료)'}"></p>
                        <p>
                            E-mail :
                            <a href="#" class="anchorLine">lotteon@lotte.net</a>
                        </p>
                        <p>
                            <a href="#" class="anchorLine" target="_blank">안전거래센터</a>
                        </p>
                    </div>
                    <div>
                        <h3>콘텐츠산업진흥법에 의한 콘텐츠보호안내</h3>
                        <a href="#" class="anchorLine">자세히보기</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="outlink">
            <a href="https://www.lotteon.com/common/footerSafePopup">
                <img src="/images/ico_footer2.png">
            </a>
            <a href="https://kolsa.or.kr/">
                <img src="/images/ico_footer1.png">
            </a>
            <a href="https://hometax.go.kr/">
                <img src="/images/ico_footer3.png">
            </a>
            <a href="http://upss.gs1kr.org/">
                <img src="/images/ico_footer4.png">
            </a>
            <a href="https://107.relaycall.or.kr">
                <img src="/images/ico_footer5.png">
            </a>
            <a href="https://www.pipc.go.kr/np/cop/bbs/selectBoardArticle.do?bbsId=BS213&mCode=C040050000&nttId=8926">
                <img src="/images/ico_footer6.png">
            </a>
        </div>
    </div>
    <hr>
    <div class="footerInfo">
        <p>롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가 아닙니다. 입점판매자가 등록한 상품정보 및 거래에 대해 롯데쇼핑(주)는 일체 책임을 지지 않습니다.</p>
        <p th:text="${config.copyright}"></p>
        <p>Version: <span>lotteOn</span>-<span th:text="${versionId}"></span></p>
    </div>
</footer>