<aside>
    <div class="item">
        <div class="title">
            <img src="/images/admin-with-cogwheels.png">환경설정
        </div>
        <div class="dropdown">
            <div>
                <a th:href="@{/admin/config/basic}"> - 기본설정</a>
                <a th:href="@{/admin/config/banner}"> - 배너관리</a>
                <a th:href="@{/admin/config/policy}"> - 약관관리</a>
                <a th:href="@{/admin/config/category}"> - 카테고리</a>
                <a th:href="@{/admin/config/version}"> - 버전관리</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="title">
            <img src="/images/admin-market.png">상점관리
        </div>
        <div class="dropdown">
            <div>
                <a th:href="@{/admin/shop/list}"> - 상점목록</a>
                <a th:href="@{/admin/shop/sales}"> - 매출현황</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="title">
            <img src="/images/admin-persons.png">회원관리
        </div>
        <div class="dropdown">
            <div>
                <a th:href="@{/admin/member/list}"> - 회원목록</a>
                <a th:href="@{/admin/member/point}"> - 포인트관리</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="title">
            <img src="/images/admin-package.png">상품관리
        </div>
        <div class="dropdown">
            <div>
                <a th:href="@{/admin/product/list}"> - 상품목록</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="title">
            <img src="/images/admin-credit-card.png">주문관리
        </div>
        <div class="dropdown">
            <div>
                <a th:href="@{/admin/order/list}"> - 주문현황</a>
                <a th:href="@{/admin/order/delivery}"> - 배송현황</a>
                <a th:href="@{/admin/order/refund}"> - 교환/환불신청 현황</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="title">
            <img src="/images/admin-coupon.png">쿠폰관리
        </div>
        <div class="dropdown">
            <div>
                <a th:href="@{/admin/coupon/list}"> - 쿠폰목록</a>
                <a th:href="@{/admin/coupon/issued}"> - 쿠폰발급현황</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="title">
            <img src="/images/admin-board.png">고객센터
        </div>
        <div class="dropdown">
            <div>
                <a th:href="@{/admin/cs/noticeList}"> - 공지사항</a>
                <a th:href="@{/admin/cs/faqList}"> - 자주묻는질문</a>
                <a th:href="@{/admin/cs/qnaList}"> - 문의하기</a>
                <a th:href="@{/admin/cs/recruitList}"> - 채용하기</a>
                <a th:href="@{/admin/cs/list}"> - 소식과이야기</a>
            </div>
        </div>
    </div>
</aside>