<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인</title>
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <!--Style-->
    <link rel="stylesheet" href="/style/admin/admin.css"/>
    <link rel="stylesheet" href="/style/admin/header.css">
    <link rel="stylesheet" href="/style/admin/footer.css">
    <link rel="stylesheet" href="/style/admin/adminaside.css">
    <!--JavaScript-->
    <script src="/script/aside.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/script/admin.js"></script>
</head>
<body>
<div id="container">
    <th:block th:include="/admin/_adminHeader"/>
    <main>
        <th:block th:include="/admin/_adminAside"/>
        <div class="adminMain">
            <div class="mainTop">
                <h4>관리자메인</h4>
                <div><span>HOME > <p>관리자 메인</p></span></div>
            </div>
            <div class="graph">
                <h3>집계현황</h3>
                <div class="graphArea">
                    <div>
                        <canvas id="orderChart"></canvas>
                    </div>
                    <div>
                        <canvas id="salesChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="operationStatus">
                <h3>운영현황</h3>
                <table class="fsttable">
                    <tr>
                        <th>결제완료</th>
                        <th>배송중</th>
                        <th>구매확정</th>
                        <th>교환요청</th>
                        <th>반품요청</th>
                    </tr>
                    <tr>
                        <td th:text="${orderStats['결제완료']}"></td>
                        <td th:text="${orderStats['배송중']}"></td>
                        <td th:text="${orderStats['구매확정']}"></td>
                        <td th:text="${orderStats['교환요청']}"></td>
                        <td th:text="${orderStats['반품요청']}"></td>
                    </tr>
                </table>
                <table class="sectable">
                    <tr>
                        <th colspan="2">주문건수</th>
                        <th colspan="2">주문금액</th>
                        <th colspan="2">회원가입</th>
                        <th colspan="2">방문자 수</th>
                        <th colspan="2">문의 게시물</th>
                    </tr>
                    <tr>
                        <td colspan="2" th:text="${orderStats['주문건수']}"></td>
                        <td colspan="2" th:text="${#numbers.formatInteger(orderStats['주문금액'], 1, 'COMMA')}"></td>
                        <td colspan="2" th:text="${orderStats['회원가입']}"></td>
                        <td colspan="2" th:text="${todayVisit}">0</td> <!-- 방문자 수 미구현 -->
                        <td colspan="2" th:text="${orderStats['문의게시물']}"></td>
                    </tr>
                    <tr>
                        <td>오늘</td>
                        <td th:text="${dailyStats['orderCountToday']}">60</td>
                        <td>오늘</td>
                        <td th:text="${#numbers.formatInteger(dailyStats['orderMoneyToday'], 1, 'COMMA')}">1,200,000</td>
                        <td>오늘</td>
                        <td th:text="${dailyStats['memberToday']}">102</td>
                        <td>오늘</td>
                        <td th:text="${todayVisit}">0</td>
                        <td>오늘</td>
                        <td th:text="${dailyStats['qnaToday']}">13</td>
                    </tr>
                    <tr>
                        <td>어제</td>
                        <td th:text="${dailyStats['orderCountYesterday']}">71</td>
                        <td>어제</td>
                        <td th:text="${#numbers.formatInteger(dailyStats['orderMoneyYesterday'], 1, 'COMMA')}">2,500,000</td>
                        <td>어제</td>
                        <td th:text="${dailyStats['memberYesterday']}">130</td>
                        <td>어제</td>
                        <td th:text="${yesterdayVisit}">0</td>
                        <td>어제</td>
                        <td th:text="${dailyStats['qnaYesterday']}">12</td>
                    </tr>
                </table>
            </div>
            <div class="lastFloor">
                <div class="notice">
                    <h3>공지사항</h3>
                    <table>
                        <tr th:each="notice : ${notices}">
                            <td th:text="${notice.cate}">카테고리</td>
                            <td th:text="${notice.title}">제목</td>
                            <th class="thDate" th:text="${notice.regDate}">날짜</th>
                        </tr>
                    </table>
                </div>
                <div class="customerQnA">
                    <h3>고객문의</h3>
                    <table>
                        <tr th:each="qna : ${qnas}">
                            <td th:text="${qna.cate1Name}">카테고리</td>
                            <td th:text="${qna.title}">제목</td>
                            <td class="thDate" th:text="${qna.writer}">작성자</td>
                            <th class="thDate" th:text="${qna.regDate}">날짜</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="/admin/_adminFooter.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>