<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 메인</title>
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/cust/cust_aside.css">
    <link rel="stylesheet" href="/style/cust/cust_question_main.css">
    <script src="/script/aside.js"></script>
</head>
<body>
    <th:block th:insert="~{/common/_header.html}"/>

    <main>
        <section class="content clearfix">
            <th:block th:insert="~{/cust/cust_aside.html}"/>
    
            <div class="main_content">
                <h1>문의하기</h1>
                <section class="main_notice">
                    <h3 th:switch="${cate1}">
                        <span th:case="'member'">회원 문의</span>
                        <span th:case="'event'">쿠폰/이벤트 문의</span>
                        <span th:case="'order'">주문/결제 문의</span>
                        <span th:case="'deliver'">배송 문의</span>
                        <span th:case="'cancel'">취소/반품/교환 문의</span>
                        <span th:case="'travel'">여행/숙박/항공 문의</span>
                        <span th:case="'safe'">안전거래 문의</span>
                    </h3>
                    <table>
                        <tr th:each="article, i : ${page.dtoList}">
                            <td style="font-weight: bold; color: darkred">[[${article.cate2}]]</td>
                            <td><a th:href="@{/cust/cust_question_view(qnaNo=${article.qnaNo})}">[[${article.title}]]</a></td>
                            <td th:text="${#strings.isEmpty(article.comment) ? '답변대기중' : '답변완료'}">답변여부</td>
                            <td th:text="${article.writer}">작성자</td>
                            <td th:text="${article.regDate}">작성일</td>
                        </tr>
                        <!-- 자료가 없을 때 "문의사항이 없습니다" 출력 -->
                        <tr th:unless="${page.dtoList != null and !page.dtoList.isEmpty()}">
                            <td colspan="5" style="text-align: center; font-weight: bold; color: darkred;">문의사항이 없습니다.</td>
                        </tr>
                    </table>
                </section>
                <div class="write">
                    <a th:href="@{/cust/cust_question_write}">문의하기</a>
                </div>


                <div class="page">
                    <div class="pageBtn">
                        <th:block th:if="${page.end > 0}">
                            <th:block th:if="${page.prev}">
                                <a th:href="@{/cust/cust_question(cate1=${cate1}, pg=${page.start - 2})}" class="prev">
                                    <img src="/images/back-double.png">
                                </a>
                            </th:block>
                            <th:block th:if="${page.prev}">
                                <a th:href="@{/cust/cust_question(cate1=${cate1}, pg=${page.start - 1})}" class="prev">
                                    <img src="/images/back-single.png" class="single">
                                </a>
                            </th:block>

                            <th:block th:each="num:${#numbers.sequence(page.start, page.end)}">
                                <a th:href="@{/cust/cust_question(cate1=${cate1}, pg=${num})}" th:class="${num == page.pg} ? 'current' : 'num'">[[${num}]]</a>
                            </th:block>

                            <th:block th:if="${page.next}">
                                <a th:href="@{/cust/cust_question(cate1=${cate1}, pg=${page.end+1})}" class="next">
                                    <img src="/images/right-single.png" class="single">
                                </a>
                            </th:block>
                            <th:block th:if="${page.next}">
                                <a th:href="@{/cust/cust_question(cate1=${cate1}, pg=${page.end+2})}" class="next">
                                    <img src="/images/right-double.png">
                                </a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                
                <section class="onetoone">
                    <h3>1:1 상담안내</h3>

                    <div class="info1">
                        <h2>이용안내</h2>
                        <p>일반회원 / 비회원</p>
                        <h3>1566-0001<span>(평일 09:00 ~ 18:00)&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>
                        <p>스마일클럽 전용</p>
                        <h3>1566-0002<span>(365일 09:00 ~ 18:00)</span></h3>
                    </div>

                    <div class="info2">
                        <h2>판매상담이용안내</h2>
                        <p>판매고객</p>
                        <h3>1566-5700<span>(평일 09:00 ~ 18:00)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3><br>
                        <a href="#">
                            <h3 style="color: #333333;">판매자 가입 및 서류접수 안내 > </h3>
                        </a>

                    </div>
                </section>
            </div>
        </section>
        
    </main>

    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</body>

</html>