<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 메인</title>
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/cust/cust_main.css">
    <link rel="stylesheet" href="/style/cust/cust_aside.css">
    <script src="/script/aside.js"></script>
</head>
<body>
    <th:block th:include="~{/common/_header.html}"/>

    <main>
        <section class="content clearfix">
            <th:block th:include="~{/cust/cust_aside.html}"/>
    
            <div class="main_content">
                <h1>롯데ON이 도와드릴게요!</h1>
                <section class="main_notice">
                    <h3>
                        공지사항
                        <a th:href="@{/cust/cust_notice_main}" class="more">
                            <img src="/images/home_news-link-1-pkaauh054e9yyxsro4jq3mqv1i3vp54qi4ialoc780.png" alt="">
                        </a>
                    </h3>
                    <table>
                        <tr th:each="notice : ${notices}">
                            <td th:text="${notice.cate}" style="font-weight: bold; color: darkred">카테고리</td>
                            <td><a th:href="@{/cust/cust_notice_view(noticeNo=${notice.noticeNo})}">[[${notice.title}]]</a></td>
                            <td></td>
                            <td th:text="${notice.regDate}">날짜</td>
                        </tr>
                    </table>
                </section>
                <section class="main_faq">
                    <h3>
                        자주묻는 질문
                        <a th:href="@{/cust/cust_faq_user}" class="more">
                            <img src="/images/home_news-link-1-pkaauh054e9yyxsro4jq3mqv1i3vp54qi4ialoc780.png" alt="">
                        </a>
                    </h3>
                    <div class="smart_link">
                        <div>
                            <div>
                                <div>
                                    <a th:href="@{/cust/cust_faq_order}">
                                        <img src="/images/cs/credit-card.png" alt="주문 / 결제">
                                    </a>
                                </div>
                                <p>주문 / 결제</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <a th:href="@{/cust/cust_faq_refund}">
                                        <img src="/images/cs/refund-alt.png" alt="취소 / 반품 / 환불">
                                    </a>
                                </div>
                                <p>취소 / 반품 / 환불</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <a th:href="@{/cust/cust_faq_safe}">
                                        <img src="/images/cs/selling.png" alt="안전결제">
                                    </a>
                                </div>
                                <p>안전결제</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <a th:href="@{/cust/cust_faq_deliver}">
                                        <img src="/images/cs/shipping-fast.png" alt="배송">
                                    </a>
                                </div>
                                <p>배송</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <a th:href="@{/cust/cust_faq_user}">
                                        <img src="/images/cs/user-unlock.png" alt="회원">
                                    </a>
                                </div>
                                <p>회원</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <a th:href="@{/cust/cust_faq_event}">
                                        <img src="/images/cs/ticket2.png" alt="쿠폰 / 이벤트">
                                    </a>
                                </div>
                                <p>쿠폰 / 이벤트</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="question">
                    <h3>
                        문의하기
                        <a th:href="@{/cust/cust_question?cate1=member}" class="more">
                            <img src="/images/home_news-link-1-pkaauh054e9yyxsro4jq3mqv1i3vp54qi4ialoc780.png" alt="">
                        </a>
                    </h3>
                    <table>
                        <tr th:each="qna : ${qnas}">
                            <td th:text="${qna.cate1}" style="font-weight: bold; color: darkred">카테고리</td>
                            <td><a th:href="@{/cust/cust_question_view(qnaNo=${qna.qnaNo})}">[[${qna.title}]]</a></td>
                            <td th:text="${qna.writer}">작성자</td>
                            <td th:text="${qna.regDate}">등록일</td>
                        </tr>
                    </table>
                </section>
                <section class="onetoone">
                    <h3>1:1 상담안내</h3>

                    <div class="info1">
                        <h2>이용안내</h2>
                        <p>일반회원 / 비회원</p>
                        <h3>1566-0001<span>(평일 09:00 ~ 18:00)&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>
                        <p>스마일클럽 전용</p>
                        <h3>1566-0002<span>(365일 09:00 ~ 18:00)</span></h3>
                    </div>

                    <div class="info2">
                        <h2>판매상담이용안내</h2>
                        <p>판매고객</p>
                        <h3>1566-5700<span>(평일 09:00 ~ 18:00)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3><br>
                        <a href="#">
                            <h3 style="color: #333333;">판매자 가입 및 서류접수 안내 > </h3>
                        </a>

                    </div>
                </section>
            </div>
        </section>
        
    </main>

    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</body>

</html>