<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 상세보기</title>
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/cust/cust_aside.css">
    <link rel="stylesheet" href="/style/cust/cust_question_view.css">
    <script src="/script/aside.js"></script>
</head>

<body>
    <th:block th:include="~{/common/_header.html}"/>

    <main>
        <section class="content clearfix">
            <th:block th:include="~{/cust/cust_aside.html}"/>
    
            <div class="main_content">
                <h1>문의하기</h1>
                <section class="main_notice">
                    <h3 th:switch="${cate1}">
                        <span th:case="'member'">회원 안내</span>
                        <span th:case="'event'">쿠폰/이벤트 안내</span>
                        <span th:case="'order'">주문/결제 안내</span>
                        <span th:case="'deliver'">배송 안내</span>
                        <span th:case="'cancel'">취소/반품/교환 안내</span>
                        <span th:case="'travel'">여행/숙박/항공 안내</span>
                        <span th:case="'safe'">안전거래 안내</span>
                    </h3>

                    <table>
                        <tr>
                            <th>카테고리</th>
                            <td><input readonly type="text" name="cate2" class="cate" th:value="${qna.cate2}"></td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td><input readonly type="text" name="title" th:value="${qna.title}"></td>
                        </tr>
                        <tr>
                            <th>등록일</th>
                            <td><input readonly type="text" name="title" th:value="${qna.regDate}"></td>
                        </tr>
                        <tr>
                            <th>작성자</th>
                            <td><input readonly type="text" name="writer" th:value="${qna.writer}"></td>
                        </tr>
                        <tr>
                            <th>문의 내용</th>
                            <td><textarea readonly name="content" id="content" style="min-height: 400px;">[[${qna.content}]]</textarea></td>
                        </tr>
                    </table>
                </section>
                <!-- 답변 대기 중일 때 -->
                <section class="answer_wait" th:if="${qna.comment == null}">
                    <p>답변 대기중입니다.</p>

                    <div class="list_page" style="background-color: #979797; ">
                        <a th:href="@{/cust/cust_question(cate1=member)}">목록</a>
                    </div>
                </section>

                <!-- 답변이 있을 때 -->
                <section class="answer" th:if="${qna.comment != null}">
                    <div>
                        <div class="title">
                            <p><span>[답변]</span> re:[[${qna.title}]]</p>
                        </div>
                        <div class="content">
                            <p th:text="${qna.comment}">답변내용</p>
                        </div>

                        <div class="list_page" style="background-color: #979797; margin-top: 130px">
                            <a th:href="@{/cust/cust_question(cate1=member)}">목록</a>
                        </div>
                    </div>
                </section>
            </div>

        </section>
    </main>

    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</body>

</html>