<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 메인</title>
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/cust/cust_aside.css">
    <link rel="stylesheet" href="/style/cust/cust_faq.css">
    <script src="/script/aside.js"></script>
</head>
<body>
    <th:block th:include="~{/common/_header.html}"/>

    <main>
        <section class="content clearfix">
            <!--사이드바-->
            <th:block th:include="~{/cust/cust_aside.html}"/>
             
            <!--메인-->
            <div class="main_content">
                <h1>자주묻는 질문</h1>
                <section class="faq">
                    <h3 style="font-size: 30px; border-bottom: 1px solid #dedede; margin:10px 0 30px 0">쿠폰/이벤트</h3>
                    <h3>쿠폰/할인혜택</h3>
                    <section class="notice_block">
                        <table class="noticeTable">
                            <tr th:each="faq : ${faq}" th:if="${faq.cate2 == '쿠폰/할인혜택'}">
                                <td><a th:href="@{/cust/cust_faq_view(faqNo=${faq.faqNo})}" th:text="${faq.title}"></a></td>
                                <td></td>
                                <td th:text="${faq.regDate}">22.10.31</td>
                            </tr>
                        </table>
                        <button class="toggleBtn">더보기▼</button>
                    </section>
                </section>
                <section class="faq">
                    <h3>포인트</h3>
                    <section class="notice_block">
                        <table class="noticeTable">
                            <tr th:each="faq : ${faq}" th:if="${faq.cate2 == '포인트'}">
                                <td><a th:href="@{/cust/cust_faq_view(faqNo=${faq.faqNo})}" th:text="${faq.title}"></a></td>
                                <td></td>
                                <td th:text="${faq.regDate}">22.10.31</td>
                            </tr>
                        </table>
                        <button class="toggleBtn">더보기▼</button>
                    </section>
                </section>
                <section class="faq">
                    <h3>제휴</h3>
                    <section class="notice_block">
                        <table class="noticeTable">
                            <tr th:each="faq : ${faq}" th:if="${faq.cate2 == '제휴'}">
                                <td><a th:href="@{/cust/cust_faq_view(faqNo=${faq.faqNo})}" th:text="${faq.title}"></a></td>
                                <td></td>
                                <td th:text="${faq.regDate}">22.10.31</td>
                            </tr>
                        </table>
                        <button class="toggleBtn">더보기▼</button>
                    </section> 
                </section>
                <section class="faq">
                    <h3>이벤트</h3> 
                    <section class="notice_block">
                        <table class="noticeTable">
                            <tr th:each="faq : ${faq}" th:if="${faq.cate2 == '이벤트'}">
                                <td><a th:href="@{/cust/cust_faq_view(faqNo=${faq.faqNo})}" th:text="${faq.title}"></a></td>
                                <td></td>
                                <td th:text="${faq.regDate}">22.10.31</td>
                            </tr>
                        </table>
                        <button class="toggleBtn">더보기▼</button>
                    </section>
                </section>
            </div>
        </section>

    </main>

    <!--푸터-->
    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>

    <script src="/script/cust_faq.js"></script>
</body>

</html>