<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 상세보기</title>
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/cust/cust_aside.css">
    <link rel="stylesheet" href="/style/cust/cust_view.css">
    <script src="/script/aside.js"></script>

</head>
<body>
    <th:block th:include="~{/common/_header.html}"/>

    <main>
        <section class="content clearfix">
            <th:block th:include="~{/cust/cust_aside.html}"/>
    
            <div class="main_content">
                <h1>자주묻는 질문</h1>
                <section class="main_notice">
                    <h3 th:switch="${faq.cate1}">
                        <span th:case="'member'">회원 안내</span>
                        <span th:case="'event'">쿠폰/이벤트 안내</span>
                        <span th:case="'order'">주문/결제 안내</span>
                        <span th:case="'cancel'">취소/반품/교환 안내</span>
                        <span th:case="'delivery'">배송 안내</span>
                        <span th:case="'travel'">여행/숙박/항공 안내</span>
                        <span th:case="'safe'">안전거래 안내</span>
                    </h3>
                    <table>
                        <tr>
                            <td><input readonly type="text" th:value="${faq.title}"></td>
                        </tr>
                        <tr>
                            <td><textarea readonly name="content" id="content" style="min-height: 400px;">[[${faq.content}]]</textarea></td>
                        </tr>
                    </table>
                    <div class="list_page">
                        <a th:href="@{'/cust/cust_faq_' + ${faq.cate1}}">목록</a>
                    </div>
                    
                </section>
            </div>
        </section>
        
    </main>

    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</body>

</html>