<aside class="sidebar">
    <article class="side_content">
        <div class="side_title">
            <p>고객센터</p>
        </div>
        <div class="side_menu">
            <div class="item">
                <div id="home" onclick="location.href='/cust/cust_main'">HOME</div>
            </div>

            <div class="item">
                <div id="notice">공지사항</div>
                <div class="dropdown">
                        <a th:href="@{/cust/cust_notice_main}">전체</a>
                    <a th:href="@{/cust/cust_notice(cate='고객서비스')}">고객서비스</a>
                    <a th:href="@{/cust/cust_notice(cate='안전거래')}">안전거래</a>
                    <a th:href="@{/cust/cust_notice(cate='위해상품')}">위해상품</a>
                    <a th:href="@{/cust/cust_notice(cate='이벤트당첨')}">이벤트당첨</a>
                </div>
            </div>

            <div class="item">
                <div id="faq">자주묻는 질문</div>
                <div class="dropdown">
                        <a th:href="@{/cust/cust_faq_member}">회원</a>
                        <a th:href="@{/cust/cust_faq_event}">쿠폰 / 이벤트</a>
                        <a th:href="@{/cust/cust_faq_order}">주문 / 결제</a>
                        <a th:href="@{/cust/cust_faq_deliver}">배송</a>
                        <a th:href="@{/cust/cust_faq_cancel}">취소 / 반품 / 교환</a>
                        <a th:href="@{/cust/cust_faq_travel}">여행 / 숙박 / 항공</a>
                        <a th:href="@{/cust/cust_faq_safe}">안전거래</a>
                </div>
            </div>

            <div class="item">
                <div id="question">문의하기</div>
                <div class="dropdown">
                    <a th:href="@{/cust/cust_question(cate1='member')}">회원</a>
                    <a th:href="@{/cust/cust_question(cate1='event')}">쿠폰 / 이벤트</a>
                    <a th:href="@{/cust/cust_question(cate1='order')}">주문 / 결제</a>
                    <a th:href="@{/cust/cust_question(cate1='deliver')}">배송</a>
                    <a th:href="@{/cust/cust_question(cate1='cancel')}">취소 / 반품 / 교환</a>
                    <a th:href="@{/cust/cust_question(cate1='travel')}">여행 / 숙박 / 항공</a>
                    <a th:href="@{/cust/cust_question(cate1='safe')}">안전거래</a>
                </div>
            </div>

        </div>

        <div class="phone">
            <p class="pTitle">롯데ON 고객센터</p>
            <h1>1899-7000<span>(유료)</span></h1>
            <p>월~금요일 09:00 ~ 18:00</p>
            <p>주말, 공휴일 휴무</p>
        </div>
        <div class="offline">
            <p>오프라인 매장안내</p>
            <h4>매장별 위치/연락처를 확인하세요</h4>
            <a href="https://www.lotteon.com/p/lotteplus/offlinestore/offLineStoreInfo?mall_no=4&ofln_mall_no=4">롯데마트</a><br><br>
            <a href="https://www.lotteon.com/p/lotteplus/offlinestore/offLineStoreInfo?mall_no=5&ofln_mall_no=5">롯데슈퍼 프레시</a><br><br>
            <a href="https://www.lotteon.com/p/lotteplus/offlinestore/offLineStoreInfo?mall_no=2&ofln_mall_no=2">롯데백화점</a><br>
        </div>
        <div class="support">
            <div class="sup1">
                <a href="https://support.lotteon.com/">
                    <h3>판매지원센터 > </h3>
                    <p>판매관련 더 많은 정보를 보고싶다면?</p>
                </a>
            </div>
            <div class="sup2">
                <a href="https://www.lotteon.com/trustsafety/main">
                    <h3>안전거래 센터 > </h3>
                </a>
            </div>
        </div>
    </article>
</aside>