<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/script/swiper3.js"></script>

  <!-- Script -->
  <script src="/script/search.js"></script>
  <script src="/script/myPointComma.js"></script>
  <script src="/script/myPointScript.js"></script>

  <link rel="stylesheet" href="/style/common/_footer.css">
  <link rel="stylesheet" href="/style/common/_header.css">
  <link rel="stylesheet" href="/style/mypage/myPages.css">

  <!-- Favicon -->
  <link rel="icon" sizes="32x32" th:href="@{'/images/config/' + ${config.favicon}}">

  <title>포인트내역 : 롯데ON</title>

  <style>
    .modal {
      position: fixed;
      z-index: 1000;
      left: 0; top: 0;
      width: 100%;
      height: 100%;
    }

    .modal-content {
      background-color: #fff;
      margin: 10% auto;
      padding: 20px;
      width: 500px;
      height: 350px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    }
    .close {
      float: right;
      font-size: 20px;
      cursor: pointer;
    }
    .modal-content table {
      width: 90%;
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      margin: 20px;
    }

    #modalContent table th {
      font-size: 15px;
      height: 50px;
    }
    #modalContent table td {
      font-size: 13px;
    }
    .modal-content h3 {
      font-size: 20px;
      margin: 40px 40px 40px 30px;
    }
    #modalContent {
      text-align: center;
      border-spacing: 0;
      line-height: 2;
    }

  </style>
</head>
<body>
<div id="container">
  <th:block th:include="/common/_header.html"/>
  <main>
    <div class="mainWrapper">
      <div class="mainContainer">
        <aside>
          <h2>마이롯데</h2>
          <th:block th:insert="~{/myPage/_side.html}"/>
        </aside>
        <section>
          <th:block th:insert="~{/myPage/_myInfo.html}"/>
          <div class="pointHistory var">
            <div class="varTitle">
              <h3>포인트 내역</h3>
              <form th:action="@{/myPage/my_point}" method="get">
                <div class="searchArea">
                  <div class="period">
                    <select name="period" id="period">
                      <option selected>전체</option>
                      <option value="1week" th:selected="${#strings.equals(param.period, '1week')}">1주일</option>
                      <option value="1month" th:selected="${#strings.equals(param.period, '1month')}">1개월</option>
                      <option value="3month" th:selected="${#strings.equals(param.period, '3month')}">3개월</option>
                      <option value="custom" th:selected="${#strings.equals(param.period, 'custom')}">직접선택</option>
                    </select>

                    <div class="selectDate">
                      <input class="date" type="date" name="startDate" th:value="${param.startDate}" />
                      ~
                      <input class="date" type="date" name="endDate" th:value="${param.endDate}" />
                    </div>
                  </div>
                  <div>
                    <button class="searchButton" type="submit">조회하기</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="orderHeader" th:if="${#lists.isEmpty(point)}">
              <div>
                <p>적립한 포인트가 없습니다.</p>
              </div>
            </div>
            <div class="pointList" th:unless="${#lists.isEmpty(point)}">
              <table>
                <tr>
                  <th>적립일</th>
                  <th>구분</th>
                  <th>적립 포인트</th>
                  <th>적립 코드</th>
                  <th>적립 내용</th>
                </tr>
                <tr th:each = "point, i : ${point}">
                  <td th:text="${point.giveDate}"></td>
                  <td th:text="${point.givePoint > 0} ? '적립' : '사용'"></td>
                  <td th:text="${point.givePoint}" class="thisIsMyPoint savePoints"></td>
                  <td>
                    <a href="#" th:onclick="'showPopup(' + ${i.index} + '); return false;'">
                      [[${point.orderCode}]]
                    </a>
                  </td>
                  <td th:text="${point.giveContent}"></td>
                </tr>
              </table>
              <div class="pageBtn">
                <th:block th:if="${page?.end > 0}">
                  <th:block th:if="${page.prev}">
                    <a th:href="@{/myPage/my_point(pg=${page.start-2}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" class="prev">
                      <img src="/images/back-double.png">
                    </a>
                  </th:block>
                  <th:block th:if="${page.prev}">
                    <a th:href="@{/myPage/my_point(pg=${page.start-1}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" class="prev">
                      <img src="/images/back-single.png" class="single">
                    </a>
                  </th:block>

                  <th:block th:each="num:${#numbers.sequence(page.start, page.end)}">
                    <a th:href="@{/myPage/my_point(pg=${num}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" th:class="${num == page.pg} ? 'current' : 'num'">[[${num}]]</a>
                  </th:block>

                  <th:block th:if="${page.next}">
                    <a th:href="@{/myPage/my_point(pg=${page.end+1}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" class="next">
                      <img src="/images/right-single.png" class="single">
                    </a>
                  </th:block>
                  <th:block th:if="${page.next}">
                    <a th:href="@{/myPage/my_point(pg=${page.end+2}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" class="next">
                      <img src="/images/right-double.png">
                    </a>
                  </th:block>
                </th:block>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- 모달창 -->
    <div th:each="order, i : ${point}" th:id="'pointModal-' + ${i.index}" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>주문 상세 정보</h3>
        <div id="modalContent">
          <table>
            <tr>
              <th>주문번호</th>
              <td>[[${order.orderCode}]]</td>
            </tr>
            <tr th:if="${order.productName} != null">
              <th>상품명</th>
              <td>[[${order.productName}]]</td>
            </tr>
            <tr th:if="${order.price} != null">
              <th>가격</th>
              <td>[[${order.price}]]</td>
            </tr>
            <tr>
              <th>포인트</th>
              <td>[[${order.givePoint}]]</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </main>
  <script th:inline="javascript">
    function showPopup(index) {
      document.getElementById('pointModal-' + index).style.display = 'block';
    }

    document.querySelectorAll('.modal .close').forEach(btn => {
      btn.addEventListener('click', function () {
        this.closest('.modal').style.display = 'none';
      });
    });
  </script>
  <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>
