* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
button {
    all: unset;
    cursor: pointer;
}
img {
    width: 25px;
    height: 25px;
}
/* --------------------- main --------------------- */
.adminMain {
    width: 860px;
    height: auto;
    padding: 15px 60px 30px 0;
}
.mainTop {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #8a8a8a;
    padding: 10px 0;
}
.mainTop h4 {
    font-size: 25px;
    font-weight: bold;
}
.mainTop div {
    margin-left: auto;
    display: flex;
}
.mainTop span {
    display: flex;
    gap: 5px;
}
.mainTop span p {
    font-weight: bold;
    margin: 0;
}
h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}
.searchBtn {
    position: relative;
    top: -2.6px;
}
table {
    width: 100%;
    height: auto;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-collapse: collapse;
}
table tr {
    border-bottom: 2px solid #dddddd;
}
table tr th {
    height: 45px;
    background-color: #93b7d0;
    color: white;
    width: 50px;
}
table tr th a {
    color: white;
}
table tr td {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    height: 30px;
}
.btnarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnarea button {
    width: 100px;
    height: 50px;
    background-color: #3f97f6;
    color: white;
    text-align: center;
    margin-top: 15px;
}
.btnarea .delbutton {
    background-color: #8a8a8a;
}
.btnarea .pageBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 9px;
}
.btnarea .pageBtn .number {
    font-size: 17px;
    width: 24px;
    height: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 3px;
}
.btnarea .pageBtn .single {
    width: 15px;
    height: 15px;
}
.shopArea {
    padding: 10px;
    margin-top: 10px;
}
.shopArea button {
    line-height: 10px;
}
.searchArea {
    margin-bottom: 15px;
}
.searchArea select {
    padding: 10px;
}
.searchArea input {
    padding: 10px;
    position: relative;
    bottom: 2px;
}
.searchArea button {
    padding: 16px;
    background-color: #3f97f6;
    color: white;
}
tr td select {
    font-size: 12px;
}
tr td select option {
    font-size: 12px;
}



/* 모달 전체 화면 덮기 */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* 모달 창 내부 */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* 닫기 버튼 */
.modal .close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.modal .modalbtn {
    display: flex;
    justify-content: center;
}
.modal button {
    width: 100px;
    height: 50px;
    background-color: #3f97f6;
    color: white;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
}
.modal table {
    margin-bottom: 20px;
}
.modal table th {
    width: 90px;
    height: 50px;
}
.modal table td div {
    text-align: left;
    display: flex;
}
.modal .fst {
    margin-bottom: 20px;
}
.modal table td input {
    padding: 10px;
}
.modal table td p {
    position: relative;
    top: 10px;
    margin-left: 10px;
}
.modal table td .status {
    font-size: 16px;
}
.modal table input {
    width: 400px;
    border-radius: 3px;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
}
.modal table input[type="file"] {
    width: 300px;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 3px;
}
.modal table tr td div select {
    font-size: 16px;
    width: 424px;
    height: 43px;
}
.modal table tr td div option {
    font-size: 16px;
}
.modal .thd tr td div input {
    width: 240px;
}
.address {
    text-align: left;
}
.address input {
    margin-bottom: 5px;
    width: 410px;
    height: 20px;
}
.address input:nth-of-type(3) {
    margin-bottom: 0;
}
.address input:nth-of-type(1) {
    width: 210px;
    height: 20px;
}




/* 모달 전체 화면 덮기 */
.submodal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* 모달 창 내부 */
.submodal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* 닫기 버튼 */
.submodal .close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.submodal .modalbtn {
    display: flex;
    justify-content: center;
}
.submodal button {
    width: 100px;
    height: 50px;
    background-color: #3f97f6;
    color: white;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
}
.submodal table {
    margin-bottom: 20px;
}
.submodal table th {
    width: 90px;
    height: 50px;
    text-align: center;
}
.submodal table td div {
    text-align: left;
    display: flex;
}
.submodal .fst {
    margin-bottom: 20px;
}
.submodal table td input {
    padding: 10px;
}
.submodal table td p {
    position: relative;
    top: 10px;
    margin-left: 10px;
}
.submodal table td .status {
    font-size: 16px;
}
.submodal table input {
    width: 400px;
    border-radius: 3px;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
}
.submodal table input[type="file"] {
    width: 300px;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 3px;
}
.submodal table tr td div select {
    font-size: 16px;
    width: 424px;
    height: 43px;
}
.submodal table tr td div option {
    font-size: 16px;
}
.submodal .thd tr td div input {
    width: 240px;
}
.submodal {
    text-align: left;
}
.address input {
    margin-bottom: 5px;
    width: 410px;
    height: 20px;
}
.address input:nth-of-type(3) {
    margin-bottom: 0;
}
.address input:nth-of-type(1) {
    width: 210px;
    height: 20px;
}
/* --------------------- main --------------------- */
