* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
button {
    all: unset;
    cursor: pointer;
}
img {
    width: 25px;
    height: 25px;
}
/* --------------------- main --------------------- */
.adminMain {
    width: 840px;
    height: auto;
    padding: 15px 60px 30px 0;
}
.mainTop {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #8a8a8a;
    padding: 10px 0;
}
.mainTop h4 {
    font-size: 25px;
    font-weight: bold;
}
.mainTop div {
    margin-left: auto;
    display: flex;
}
.mainTop span {
    display: flex;
    gap: 5px;
}
.mainTop span p {
    font-weight: bold;
    margin: 0;
}
h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}
table {
    width: 100%;
    height: auto;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-collapse: collapse;
}
table tr {
    border-bottom: 2px solid #dddddd;
}
table tr th {
    height: 45px;
    background-color: #93b7d0;
    color: white;
}
table tr th a {
    color: white;
}
table tr td {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    height: 30px;
}
.btnarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnarea button {
    width: 100px;
    height: 50px;
    background-color: #3f97f6;
    color: white;
    text-align: center;
    margin-top: 15px;
}
.btnarea .delbutton {
    background-color: #8a8a8a;
}
.btnarea .pageBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 9px;
}
.btnarea .pageBtn .number {
    font-size: 17px;
    width: 24px;
    height: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 3px;
}
.btnarea .pageBtn .single {
    width: 15px;
    height: 15px;
}
.shopArea {
    padding: 20px;
}
.shopArea button {
    line-height: 10px;
}
.searchArea {
    /*margin-bottom: 15px;*/
}
.searchArea select {
    padding: 10px;
}
.searchArea input {
    padding: 10px;
}
.searchArea button {
    padding: 16px;
    background-color: #3f97f6;
    color: white;
}


/* 모달 전체 화면 덮기 */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 반투명 배경 */
}

/* 모달 창 내부 */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 900px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* 닫기 버튼 */
.modal .close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.modal .modalbtn {
    display: flex;
    justify-content: center;
}
.modal button {
    width: 100px;
    height: 50px;
    background-color: #3f97f6;
    color: white;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
}
.modal table th {
    width: 90px;
    height: 50px;
}
.modal table td div {
    text-align: left;
    display: flex;
}
.modal table td p {
    margin-left: 10px;
}
.modal .fst {
    margin-bottom: 20px;
}
.modal table td input {
    padding: 10px;
}
.address {
    text-align: left;
}
.address input {
    margin-bottom: 5px;
    width: 410px;
    height: 20px;
}
.address input:nth-of-type(3) {
    margin-bottom: 0;
}
.address input:nth-of-type(1) {
    width: 210px;
    height: 20px;
}
.modal table td p {
    position: relative;
    top: 10px;
}
/* --------------------- main --------------------- */

.status-circle{
    width: 12px; /* 동그라미 크기 조정 */
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}
.status-explain {
    display: flex;         /* 가로 정렬 */
    gap: 15px;             /* 항목 사이 간격 */
    margin: 10px 0;        /* 위아래 여백 */
    position: relative;
    left: 580px;
}

.dot-item {
    display: flex;         /* 내부 요소(점 + 글자) 가로 정렬 */
    align-items: center;   /* 세로 정렬 가운데 */
    gap: 5px;              /* 점과 글자 사이 간격 */
    font-size: 14px;
}

.dot {
    width: 10px;           /* 원 크기 */
    height: 10px;
    border-radius: 50%;    /* 원 모양 */
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

