<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자-공지사항 목록</title>
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <!--Style-->
    <link rel="stylesheet" href="/style/admin/cs/noticeList.css"/>
    <link rel="stylesheet" href="/style/admin/header.css">
    <link rel="stylesheet" href="/style/admin/footer.css">
    <link rel="stylesheet" href="/style/admin/adminaside.css">
    <!--JavaScript-->
    <script src="/script/csNotice.js"></script>
    <script src="/script/aside.js"></script>
</head>
<body>
<div id="container">
    <th:block th:insert="~{/admin/_adminHeader}"/>
    <main>
        <th:block th:insert="~{/admin/_adminAside}"/>
        <div class="adminMain">
            <div class="mainTop">
                <h4>공지사항</h4>
                <div><span>HOME > 고객센터 > <p>공지사항</p></span></div>
            </div>
            <div class="shopArea">
                <div class="searchArea">
                    <form th:action="@{/admin/cs/noticeSearch}">
                        <select name="cate" onchange="this.form.submit()">
                            <option value="" disabled selected>유형</option>
                            <option value="고객서비스" th:selected="${page.cate == '고객서비스'}">고객서비스</option>
                            <option value="이벤트당첨" th:selected="${page.cate == '이벤트당첨'}">이벤트당첨</option>
                            <option value="안전거래" th:selected="${page.cate == '안전거래'}">안전거래</option>
                            <option value="위해상품" th:selected="${page.cate == '위해상품'}">위해상품</option>
                        </select>
                    </form>
                </div>
                <table>
                    <tr>
                        <th>번호</th>
                        <th>유형</th>
                        <th>제목</th>
                        <th>조회</th>
                        <th>날짜</th>
                        <th colspan="2" style="padding-left: 0">관리</th>
                    </tr>

                    <tr th:each="notice, i : ${page.dtoList}">
                        <td>[[${page.startNo - i.index}]]</td>
                        <td>[[${notice.title}]]</td>
                        <td>
                            <button type="submit"
                                    class="submitbtn"
                                    th:attr =
                                            "data-type=${notice.cate},
                                            data-title=${notice.title},
                                            data-content=${notice.content},
                                            data-notice-no=${notice.noticeNo}">[[${notice.content}]]</button>
                        </td>
                        <td>[[${notice.views}]]</td>
                        <td>[[${notice.regDate}]]</td>
                        <td class="buttons">
                            <button type="button" class="modifybtn"
                                    th:attr =
                                            "data-type=${notice.cate},
                                            data-title=${notice.title},
                                            data-content=${notice.content},
                                            data-notice-no=${notice.noticeNo}"> 수정
                            </button>
                        </td>
                        <td class="buttons">
                            <form th:action="@{/admin/cs/noticeDelete}" method="post" onsubmit="return confirmDelete()">
                                <button type="submit" class="deletebtn" style="font-size: 12px">삭제</button>
                                <input type="hidden" name="noticeNo" th:value="${notice.noticeNo}">
                            </form>
                            <script>
                                function confirmDelete() {
                                    // 삭제 확인 메시지
                                    return confirm("삭제하시겠습니까?");
                                }
                            </script>
                        </td>
                    </tr>
                </table>
                <div class="btnarea">
                    <button class="delbutton" type="submit">선택삭제</button>
                        <div class="pageBtn">
                            <th:block th:if="${page.end > 0}">
                                <th:block th:if="${page.prev}">
                                    <a th:href="@{/admin/cs/noticeSearch(pg=${page.start-2}, cate=${page.cate})}" class="prev">
                                        <img src="/images/back-double.png">
                                    </a>
                                </th:block>
                                <th:block th:if="${page.prev}">
                                    <a th:href="@{/admin/cs/noticeSearch(pg=${page.start-1}, cate=${page.cate})}" class="prev">
                                        <img src="/images/back-single.png" class="single">
                                    </a>
                                </th:block>

                                <th:block th:each="num:${#numbers.sequence(page.start, page.end)}">
                                    <a th:href="@{/admin/cs/noticeSearch(pg=${num}, cate=${page.cate})}" th:class="${num == page.pg} ? 'current' : 'num'">[[${num}]]</a>
                                </th:block>

                                <th:block th:if="${page.next}">
                                    <a th:href="@{/admin/cs/noticeSearch(pg=${page.end+1}, cate=${page.cate})}" class="next">
                                        <img src="/images/right-single.png" class="single">
                                    </a>
                                </th:block>
                                <th:block th:if="${page.next}">
                                    <a th:href="@{/admin/cs/noticeSearch(pg=${page.end+2}, cate=${page.cate})}" class="next">
                                        <img src="/images/right-double.png">
                                    </a>
                                </th:block>
                            </th:block>
                        </div>
                    <button class="regbutton" type="submit">작성하기</button>
                </div>
            </div>
        </div>
        <div id="bannerModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>공지사항 보기</h3>
                <form>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>유형</th>
                                <td id="modalType">공지 카테고리</td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td id="modalTitle">공지 제목</td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td id="modalContent">공지 내용</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modalbtn">
                        <button>목록</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="subModal" class="submodal">
            <div class="submodal-content">
                <span class="close">&times;</span>
                <h3>공지사항 작성</h3>
                <form method="post" enctype="multipart/form-data" id="noticeWriteForm">
                    <input type="hidden" name="writer" th:value="${#authentication.principal.member.id}"/>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>유형</th>
                                <td>
                                    <div>
                                        <select name="cate" id="cate">
                                            <option value="">유형</option>
                                            <option value="고객서비스">고객서비스</option>
                                            <option value="이벤트당첨">이벤트당첨</option>
                                            <option value="안전거래">안전거래</option>
                                            <option value="위해상품">위해상품</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <div>
                                        <input type="text" name="title" placeholder="제목 입력">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <div>
                                        <textarea name="content" placeholder="내용 입력" class="writearea" style="width: 650px;"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="modalbtn">
                            <button>등록하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="regModal" class="regmodal">
            <div class="regmodal-content">
                <span class="close">&times;</span>
                <h3>공지사항 수정</h3>
                <form method="post" th:action="@{/admin/cs/noticeModify}" id="noticeUpdateForm">
                    <div class="modalTable">
                        <!-- noticeNo를 숨겨진 input으로 추가 -->
                        <input type="hidden" id="noticeNo" name="noticeNo">
                        <table class="fst">
                            <tr>
                                <th>유형</th>
                                <td>
                                    <div>
                                        <select name="cate" id="modifyCate">
                                            <option value="">유형</option>
                                            <option value="고객서비스">고객서비스</option>
                                            <option value="이벤트당첨">이벤트당첨</option>
                                            <option value="안전거래">안전거래</option>
                                            <option value="위해상품">위해상품</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <div>
                                        <input type="text" name="title" id="modifyTitle" placeholder="제목 입력">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <div>
                                        <textarea name="content" id="modifyContent" placeholder="내용 입력" class="writearea" style="width: 650px;"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="modalbtn">
                            <button>수정하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <th:block th:replace="/admin/_adminFooter.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>