<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자-문의하기 목록</title>
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <!--Style-->
    <link rel="stylesheet" href="/style/admin/cs/qnaList.css"/>
    <link rel="stylesheet" href="/style/admin/header.css">
    <link rel="stylesheet" href="/style/admin/footer.css">
    <link rel="stylesheet" href="/style/admin/adminaside.css">
    <!--JavaScript-->
    <script src="/script/csQna.js"></script>
    <script src="/script/faq.js"></script>
    <script src="/script/aside.js"></script>
</head>
<body>
<div id="container">
    <th:block th:insert="~{/admin/_adminHeader}"/>
    <main>
        <th:block th:insert="~{/admin/_adminAside}"/>
        <div class="adminMain">
            <div class="mainTop">
                <h4>문의하기</h4>
                <div><span>HOME > 고객센터 > <p>문의하기</p></span></div>
            </div>
            <div class="shopArea">
                <div class="searchArea">
                    <form th:action="@{/admin/cs/qnaSearch}">
                        <select name="cate1" class="typeSelect">
                            <option value="">1차 유형</option>
                            <option value="member">회원</option>
                            <option value="event">쿠폰/혜택/이벤트</option>
                            <option value="order">주문/결제</option>
                            <option value="delivery">배송</option>
                            <option value="cancel">취소/반품/교환</option>
                            <option value="travel">여행/숙박/항공</option>
                            <option value="safe">안전거래</option>
                        </select>
                        <select name="cate2" onchange="this.form.submit()" class="detailSelect">
                            <option value="">2차 유형</option>
                        </select>
                    </form>
                </div>
                <table>
                    <tr>
                        <th>번호</th>
                        <th>1차유형</th>
                        <th>2차유형</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>관리</th>
                        <th>상태</th>
                    </tr>
                    <tr th:each="qna, i : ${page.dtoList}">
                        <td>[[${page.startNo - i.index}]]</td>
                        <td>[[${qna.cate1}]]</td>
                        <td>[[${qna.cate2}]]</td>
                        <td>
                            <button type="submit"
                                    class="submitbtn"
                                    th:attr = "data-type1 = ${qna.cate1},
                                            data-type2 = ${qna.cate2},
                                            data-title = ${qna.title},
                                            data-content = ${qna.content},
                                            data-qna-no = ${qna.qnaNo},
                                            data-writer = ${qna.writer},
                                            data-comment = ${qna.comment}">[[${qna.title}]]</button>
                        </td>
                        <td>[[${qna.writer}]]</td>
                        <td>[[${qna.regDate}]]</td>
                        <td>
                            <button type="button" class="answerbtn"
                                    th:attr="data-type1=${qna.cate1},
                                            data-type2=${qna.cate2},
                                            data-title=${qna.title},
                                            data-content=${qna.content},
                                            data-qna-no=${qna.qnaNo},
                                            data-writer = ${qna.writer},
                                            data-comment = ${qna.comment}"> 답변하기
                            </button>
                        </td>
                        <td>
                            <span th:if="${qna.comment == null}">검토중</span>
                            <span th:unless="${qna.comment == null}" style="color:#3366cc; font-weight: 600">답변완료</span>
                        </td>
                    </tr>
                </table>
                <div class="btnarea">
                    <div class="pageBtn">
                        <th:block th:if="${page.end > 0}">
                            <th:block th:if="${page.prev}">
                                <a th:href="@{/admin/cs/qnaSearch(pg=${page.start-2}, cate1=${page.cate1}, cate2=${page.cate2})}" class="prev">
                                    <img src="/images/back-double.png">
                                </a>
                            </th:block>
                            <th:block th:if="${page.prev}">
                                <a th:href="@{/admin/cs/qnaSearch(pg=${page.start-1}, cate1=${page.cate1}, cate2=${page.cate2})}" class="prev">
                                    <img src="/images/back-single.png" class="single">
                                </a>
                            </th:block>

                            <th:block th:each="num:${#numbers.sequence(page.start, page.end)}">
                                <a th:href="@{/admin/cs/qnaSearch(pg=${num}, cate1=${page.cate1}, cate2=${page.cate2})}" th:class="${num == page.pg} ? 'current' : 'num'">[[${num}]]</a>
                            </th:block>

                            <th:block th:if="${page.next}">
                                <a th:href="@{/admin/cs/qnaSearch(pg=${page.end+1}, cate1=${page.cate1}, cate2=${page.cate2})}" class="next">
                                    <img src="/images/right-single.png" class="single">
                                </a>
                            </th:block>
                            <th:block th:if="${page.next}">
                                <a th:href="@{/admin/cs/qnaSearch(pg=${page.end+2}, cate1=${page.cate1}, cate2=${page.cate2})}" class="next">
                                    <img src="/images/right-double.png">
                                </a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <div id="bannerModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>문의하기 보기</h3>
                <form>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>1차 카테고리</th>
                                <td id="modalType1">1차</td>
                            </tr>
                            <tr>
                                <th>2차 카테고리</th>
                                <td id="modalType2">2차</td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td id="modalTitle">제목</td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td id="modalWriter">작성자</td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td id="modalContent">내용</td>
                            </tr>
                            <tr>
                                <th>답변</th>
                                <td id="modalComment">답변</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modalbtn">
                        <button>목록</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="regModal" class="regmodal">
            <div class="regmodal-content">
                <span class="close">&times;</span>
                <h3>문의하기 답변</h3>
                <form method="post" th:action="@{/admin/cs/qnaModify}" id="qnaModifyForm">
                    <div class="modalTable">
                        <input type="hidden" id="qnaNo" name="qnaNo">
                        <input type="hidden" id="modifyCate1" name="cate1">
                        <input type="hidden" id="modifyCate2" name="cate2">
                        <table class="fst">
                            <tr>
                                <th>제목</th>
                                <td>
                                    <div>
                                        <input type="text" name="title" readonly id="modifyTitle">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <div>
                                        <textarea type="text" name="content" readonly id="modifyContent" class="writearea"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>답변</th>
                                <td>
                                    <div>
                                        <textarea type="text" name="comment" id="modifyComment" class="writearea"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="modalbtn">
                            <button type="submit">답변등록</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <th:block th:replace="/admin/_adminFooter.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>