ul { 
    list-style-type: none; /* 불릿 제거 */ 
}
a { 
    text-decoration: none; 
    color: black;
}
main { 
    display: flex;
    width: 1140px; 
    margin: 0 auto;
    align-items: stretch; 
    height: auto;
    padding-bottom: 40px;
}

/*메인*/
.main_content {
    float: right;
    margin-top: 60px;
    margin-left: 20px;
}

.main_content h1 {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 400;
}
.main_content > .main_notice {
    border-top: 5px solid #dfdfdf;
    width: 800px;
    margin-bottom: 20px;
}

.main_content h3 {
    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center;
    font-size: 25px;
    padding: 5.3px 0;
}
.main_content table {
    border-top: 3px solid #333333;
    border-bottom: 1px solid #333333;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    border-spacing: 0;
}
.main_content table input{
    border: none;
    width: 90%;
    height: 50px;
    cursor: default;
    font-size: 18px;
}

.main_content table textarea{
    border: none;
    resize: none;
    /* 기타 스타일 */
    width: 90%;
    min-height: 600px;
    box-sizing: border-box;
    cursor: default;
    font-size: 18px;
    padding-top: 10px;
}
.main_notice span {
    margin-left: -10px;
    font-size: 18px;
}
.main_notice span {
    font-size: 25px;
    margin: 10px 0 0 10px;
}
td {
    border-bottom: 1px solid #dfdfdf;
    padding-left: 10px;
}
th {
    border-bottom: 1px solid #dfdfdf;
    width: 100px;
    border-right: 3px solid #dfdfdf;
}
.answer p {
    padding: 10px;
}
.answer .content p {
    font-size: 18px;
    font-weight: 500;
}
.answer .title span {
    color: darkred;
    font-size: 20px;
}
.list_page {
    background-color: #6d6c6c;
    margin-top: 20px;
    width: 80px;
    padding: 10px;
    float: right;
}
.list_page a{
    font-size: 18px;
    padding: 0 22px;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
}
input:focus,
textarea:focus {
    outline: none;     /* 포커스 시 생기는 외곽선 제거 */
    border: none;      /* 원한다면 border도 제거 가능 */
}

.answer_wait {
    border: 1px solid #dfdfdf;
    font-size: 18px;
}
.answer_wait p{
    text-align: center;
    padding: 50px;
}

.answer {
    border-top: 3px solid #333333;
    border-bottom: 1px solid #333333;
    margin-top: 60px;
    font-size: 18px;
}
.title p {
    font-weight: 600;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    font-size: 20px;
}
.answer {
    min-height: 200px;
}

.cate {
    font-weight: 600;
}

