ul { 
    list-style-type: none; /* 불릿 제거 */ 
}
a { 
    text-decoration: none; 
    color: black;
}
main { 
    display: flex;
    width: 1140px; 
    margin: 0 auto;
    align-items: stretch; 
}

.main_content {
    float: right;
    margin-top: 60px;
    margin-left: 20px;
}

.main_content h1 {
    margin-bottom: 15px;
    font-size: 35px;
}
.main_content > .main_notice {
    border-top: 5px solid #dfdfdf;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
}
.main_content > .main_faq {
    border-top: 1px solid #dfdfdf;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
}
.main_content > .question {
    border-top: 1px solid #dfdfdf;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
}
.main_content > .onetoone {
    border-top: 1px solid #dfdfdf;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
}

.main_content h3 {
    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.main_content table {
    border-top: 3px solid #333333;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-spacing: 0;
    margin-top: 20px;
}
td {
    height: 70px;
}

.smart_link div img {
    width: 70px;
}

.smart_link {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개 */
    gap: 20px; /* 아이템 간 간격 */
    padding: 20px 0;
}

.smart_link > div {
    text-align: center;
}

.onetoone div{
    border: 1px solid #dfdfdf;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    padding: 30px 35px;
    margin-top: 15px;
}
.onetoone h2 {
    margin-bottom: 10px;
    font-size: 20px;
}
.info2 {
    margin-left: 15px;
}
.onetoone p{
    margin: 0;
    font-size: 18px;
}
.onetoone h3{
    margin: 15px 0;
}
.onetoone span {
    font-size: 17px;
}
