ul { 
    list-style-type: none; /* 불릿 제거 */ 
}
a { 
    text-decoration: none; 
    color: black;
}
main { 
    display: flex;
    width: 1140px; 
    margin: 0 auto;
    align-items: stretch; 
}


/*메인*/
.main_content {
    float: right;
    margin-top: 60px;
    margin-left: 20px;
}

.main_content h1 {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 400;
}
.main_content > .main_notice {
    border-top: 5px solid #dfdfdf;
    width: 800px;
    margin-bottom: 20px;
}

.main_content > .onetoone {
    border-top: 1px solid #dfdfdf;
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
}

.main_content h3 {
    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center;
    font-size: 25px;
    padding: 5.3px 0;
}
.main_content table {
    border-top: 3px solid #333333;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-spacing: 0;
    margin-top: 20px;
}

.main_notice h3 {
    margin-top: 10px;
}
.main_notice span {
    font-size: 25px;
}
td {
    height: 70px;
}

.write {
    background-color: #6d6c6c;
    margin-top: 20px;
    width: 100px;
    padding: 15px;
    float: right;
    margin-bottom: 20px;
}
.write a{
    font-size: 18px;
    padding-left: 15px;
    color: white;
    font-weight: 300;
}


.page {
    clear: both;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.num{
    padding: 3px 8px;
    font-size: 17px;
    font-weight: 500;
}

a.current {
    border: 1px solid #dfdfdf;
    width: 15px;
    text-align: center;
    margin: 10px;
    padding: 10px 15px;
    background-color: #dfdfdf;
}

a.num {
    border: 1px solid #dfdfdf;
    width: 15px;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.onetoone div{
    border: 1px solid #dfdfdf;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    padding: 10px 35px;
    margin-top: 15px;
}
.info2 {
    margin-left: 15px;
}
.onetoone p{
    margin: 0;
    font-size: 20px;
}
.onetoone h3{
    margin: 15px 0;
}
.onetoone span {
    font-size: 17px;
}
