/*사이드바*/
.content > .sidebar {
    width: 210px;
    height: auto;
    float: left;
    margin-right: 50px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
aside .item {
    cursor: pointer;
    flex-direction: column;
}
aside .item a:hover {
    font-weight: 700;
}

.dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 100%;
}

.open {
    max-height: 500px;
}

.dropdown a {
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 15px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    color: black;
    font-size: 15px;
}

.dropdown a:hover {
    background: #dcdcdc;
    transition: 0.3s;
}

.side_title p{
    font-size: 35px;
    margin-top: 10px;
}
.item > div:first-child {
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 0;
    color: #333333;;
}
.side_menu {
    margin-bottom: 50px;
}
.pTitle {
    font-size: 20px;
}
.phone {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 30px;
}
.phone p{
    color: #333333;
    margin: 0;
}
.phone h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;

}
.phone span {
    font-size: 16px;
}
.offline {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 30px;
}
.offline p {
    font-size: 20px;
    margin-bottom: 20px;
}
.offline h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.offline a {
    color: #333333;
    text-decoration: underline;
}
.support {
    margin: 30px 0;
}
.support h3 {
    margin-bottom: 10px;
}
.support p {
    font-size: 17px;
    color: #333333;
}
.support .sup1 {
    border: 1px solid #dfdfdf;
    margin-bottom: 20px;
    padding: 20px 15px;
}
.support .sup2 {
    border: 1px solid #dfdfdf;
    padding: 20px 15px;
}
