* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer;
}
/* --------------------- main --------------------- */
.adminMain {
    width: 840px;
    height: auto;
    padding: 15px 60px 30px 0;
}
.mainTop {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #8a8a8a;
    padding: 10px 0;
}
.mainTop h4 {
    font-size: 25px;
    font-weight: bold;
}
.mainTop > div {
    margin-left: auto;
    display: flex;
}
.mainTop span {
    display: flex;
    gap: 5px;
}
.mainTop span p {
    font-weight: bold;
    margin: 0;
}
.graph {
    padding: 20px;
}
.graphArea {
    display: flex;
    align-items: center;
}
h3 {
    font-size: 21px;
    font-weight: bold;
}
.graph #orderChart {
    width: 460px !important;
    height: auto !important;
}
.graph #salesChart {
    width: 340px !important;
    height: auto !important;
}

.operationStatus {
    padding: 20px;
}
.operationStatus table {
    width: 100%;
    height: auto;
    border-top: 1px solid #999;
    border-bottom: 1px solid rgba(220, 220, 220, 0.8);
    margin-bottom: 20px;
}
.operationStatus table th {
    padding: 10px;
    font-size: 19px;
    border-right: 1px solid rgba(220, 220, 220, 0.8);
}
.operationStatus table th:last-of-type {
    border-right: none;
}
.operationStatus table td:last-of-type {
    border-right: none;
}
.operationStatus table td {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border-right: 1px solid rgba(220, 220, 220, 0.8);
}
.operationStatus .fsttable td {
    color: #E60012;
    font-weight: bold;
}
.operationStatus .sectable tr:nth-of-type(2) td {
    color: #E60012;
    font-weight: bold;
    border-bottom: 1px solid rgba(220, 220, 220, 0.8);
}


.lastFloor {
    width: 100%;
    height: auto;
    display: flex;
}
.lastFloor table {
    border-top: 2px solid #8a8a8a;
    border-collapse: collapse;
}
.lastFloor table tr th {
    padding: 15px 10px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.8);
}
.lastFloor table tr td {
    padding: 10px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.8);
}
.notice {
    width: 400px;
    height: auto;
    margin-right: 30px;
}
.notice td {
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 함 */
    overflow: hidden;    /* 텍스트가 넘칠 경우 숨기도록 함 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 경우 '...'을 붙이도록 함 */
    max-width: 200px;    /* 최대 너비 설정 */
    height: 50px;
    font-size: 14px;
}
.notice th {
    font-size: 12px;
}

.customerQnA {
    width: 400px;
    height: auto;
}
.customerQnA td {
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 함 */
    overflow: hidden;    /* 텍스트가 넘칠 경우 숨기도록 함 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 경우 '...'을 붙이도록 함 */
    max-width: 150px;    /* 최대 너비 설정 */
    height: 50px;
    font-size: 14px;
}
.customerQnA th {
    font-size: 12px;
}
.thDate {
    font-weight: normal;
}
h3 {
    margin-bottom: 10px;
}
/* --------------------- main --------------------- */
