<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />

    <!-- Favicon -->
    <link rel="icon" sizes="32x32" href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png">

    <!-- Script -->
    <script src="/script/search.js"></script>
    <script src="/script/swapFindOption.js"></script>
    <script src="/script/findMyInfo.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="/style/member/findId.css"/>
    <link rel="stylesheet" href="/style/common/_header.css"/>
    <link rel="stylesheet" href="/style/common/_footer.css"/>

    <title>아이디 찾기 : 롯데ON</title>
</head>
<body>
<div id="container">
    <th:block th:include="/common/_header.html"/>
    <main>
        <div class="mainContainer">
            <div class="findIdWrapper">
                <h2 class="findTitle">아이디 찾기</h2>
                <div class="findIdContainer">
                    <div class="whatDoYouWant">
                        <button type="button" class="findIdBtn iWant">아이디 찾기</button>
                        <button type="button" class="findPassBtn">비밀번호 찾기</button>
                    </div>
                </div>
                <div class="inputYourInfo openId">
                    <form th:action="@{/member/resultId}" method="post" id="findIdForm" autocomplete="off">
                        <div>
                            <p>이름</p>
                            <input type="text" name="name" placeholder="이름을 입력해주세요">
                        </div>
                        <div>
                            <p>이메일</p>
                            <input type="email" name="email" placeholder="이메일을 입력해주세요">
                        </div>
                        <div class="authenticate">
                            <p>인증하기</p>
                            <input type="text" name="code" placeholder="인증코드를 입력해주세요">
                        </div>
                        <button type="button" class="bringMeCode idEmail" onclick="sendEmail(this)" disabled>인증번호 받기</button>
                        <button type="button" class="bringMeResult idConfirm" onclick="verifyEmailCode(this)">확인</button>
                        <button type="submit" class="nextPage" disabled>다음으로</button>
                    </form>
                </div>
                <div class="inputYourInfo disable openPass">
                    <form th:action="@{/member/resultPass}" method="post" id="findPwForm" autocomplete="off">
                        <div>
                            <p>아이디</p>
                            <input type="text" name="id" placeholder="아이디를 입력해주세요">
                        </div>
                        <div>
                            <p>이메일</p>
                            <input type="email" name="email" placeholder="이메일을 입력해주세요">
                        </div>
                        <div class="authenticate">
                            <p>인증하기</p>
                            <input type="text" name="code" placeholder="인증코드를 입력해주세요">
                        </div>
                        <button type="button" class="bringMeCode passEmail" onclick="sendEmail(this)" disabled>인증번호 받기</button>
                        <button type="button" class="bringMeResult passConfirm" onclick="verifyEmailCode(this)">확인</button>
                        <button type="submit" class="nextPage" disabled>다음으로</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
<script>
    function sendEmail(button) {
        const form = button.closest("form");
        const emailInput = form.querySelector("input[name='email']");
        const nameInput = form.querySelector("input[name='name']");
        const email = emailInput.value;
        const bringMeCode = form.querySelector(".bringMeCode");
        const bringMeResult = form.querySelector(".bringMeResult");
        const authenticate = form.querySelector(".authenticate");

        fetch("/member/email/send", {
            method: "POST",
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({ email })
        })
            .then(() => {
                authenticate.style.display = "block";
                bringMeCode.style.display = "none";
                bringMeResult.style.display = "block";
                nameInput.readOnly = true;
                emailInput.readOnly = true;
                alert("이메일로 인증코드가 발송되었습니다.");
            });
    }

    function verifyEmailCode(button) {
        const form = button.closest("form");
        const emailInput = form.querySelector("input[name='email']");
        const codeInput = form.querySelector("input[name='code']");

        const bringMeResult = form.querySelector(".bringMeResult");
        const nextPage = form.querySelector(".nextPage");

        const email = emailInput.value;
        const code = codeInput.value;

        fetch("/member/email/verify", {
            method: "POST",
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({ email, code }),
        })
            .then(res => res.json())
            .then(success => {
                if (success) {
                    bringMeResult.style.display = "none";
                    nextPage.style.display = "block";
                    nextPage.disabled = false;
                    alert('이메일이 인증되었습니다');
                } else {
                    alert('인증코드가 일치하지 않습니다');
                }
            });
    }
</script>
</body>
</html>