<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>

    <!-- Favicon -->
    <link rel="icon" sizes="32x32" href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png">

    <!-- Style -->
    <link rel="stylesheet" href="/style/member/register.css">
    <link rel="stylesheet" href="/style/member/termsModal.css">

    <!-- Script -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/script/postcode.js"></script>
    <script src="/script/membervalidation.js"></script>
    <script src="/script/validation.js"></script>
    <script src="/script/changeForm.js"></script>
    <script src="/script/termsModalControl.js"></script>

    <title>회원가입 : 롯데ON</title>
</head>
<body>
<div id="wrapper">
    <main>
        <div class="mainWrapper">
            <div>
                <a th:href="@{/}">
                    <img src="/images/logo_lotte-on.png" alt="로고" class="logo">
                </a>
                <h2>회원가입</h2>
            </div>
            <div class="mainContainer">
                <div class="whoareyou">
                    <button type="button" class="iamGeneral iam">일반회원</button>
                    <button type="button" class="iamSeller">개인사업자</button>
                </div>
                <form th:action="@{/member/register}" method="post" class="generalForm Form">
                    <div class="general">
                        <div>
                            <div class="paragraph">
                                <p>아이디</p>
                                <p class="idMsg msgs"></p>
                            </div>
                            <input type="text" name="id" id="id" placeholder="아이디 입력" required>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>비밀번호</p>
                                <p class="pwMsg msgs"></p>
                            </div>
                            <input type="password" name="password" id="password" placeholder="비밀번호 입력" required>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>비밀번호 확인</p>
                                <p class="pw2Msg msgs"></p>
                            </div>
                            <input type="password" id="password2" placeholder="비밀번호 재입력" required>
                        </div>
                        <div>
                            <p>이름</p>
                            <input type="text" name="name" placeholder="이름 입력" required>
                        </div>
                        <div>
                            <div class="juminText">
                                <div>
                                    <p>주민등록번호</p>
                                    <span>(생년월일과 성별 확인을 위해 주민등록번호 뒤 1자리까지 받고 있습니다.)</span>
                                </div>
                                <p id="OX"></p>
                            </div>
                            <div class="rrnInput">
                                <input type="number" id="rrnFront" name="rrnFront" placeholder="앞 6자리" required>
                                <input type="number" id="rrnBack" name="rrnBack" placeholder="뒤 1자리" required>
                            </div>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>이메일</p>
                                <p class="emailMsg msgs"></p>
                            </div>
                            <div class="emailBox mailBox">
                                <input type="email" name="email" id="email" placeholder="이메일 입력" required>
                                <button type="button" id="sendEmailBtn" onclick="sendEmail()" disabled>인증번호 요청</button>
                            </div>
                            <div class="emailBox codeBox">
                                <input type="text" id="emailCodeInput" placeholder="인증코드 입력" required>
                                <button type="button" onclick="verifyEmailCode()">확인</button>
                            </div>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>휴대폰</p>
                                <p class="hpMsg msgs"></p>
                            </div>
                            <input type="text" name="hp" id="hp" placeholder="휴대폰 입력" required>
                        </div>
                        <div class="addressBox">
                            <p>주소</p>
                            <input type="text" id="postcode" name="zip" placeholder="우편번호 검색"
                                   onclick="generalDaumpostcode()" readonly><br>
                            <input type="text" id="address" name="addr1" placeholder="기본주소 검색" readonly>
                            <input type="text" id="address2" name="addr2" placeholder="상세주소 입력">
                        </div>
                        <div class="termsBox">
                            <p>약관동의</p>
                            <div>
                                <label class="checkAll">
                                    <input type="checkbox" name="all" class="termsCheck all1">
                                    전체동의
                                </label>
                            </div>
                            <div class="hr"></div>
                            <div class="termsCheckBox">
                                <div class="terms">
                                    <input type="checkbox" name="one" class="termsCheck check1" required>
                                    <span class="required">[필수]</span>
                                    <a href="#" class="terms-link" data-type="buyer">이용약관</a>
                                </div>
                                <div class="terms">
                                    <input type="checkbox" name="two" class="termsCheck check1" required>
                                    <span class="required">[필수]</span>
                                    <a href="#" class="terms-link" data-type="trade">전자금융 이용약관</a>
                                </div>
                                <div class="terms">
                                    <input type="checkbox" name="three" class="termsCheck check1" required>
                                    <span class="required">[필수]</span>
                                    <a href="#" class="terms-link" data-type="privacy">개인정보 수집동의</a>
                                </div>
                                <div class="terms">
                                    <input type="checkbox" name="four" class="termsCheck check1">
                                    <span class="choice">[선택]</span>
                                    <a href="#" class="terms-link" data-type="place">위치정보 이용약관</a>
                                </div>
                            </div>
                        </div>
                        <div class="submitBox">
                            <button type="submit">가입하기</button>
                        </div>
                    </div>
                </form>
                <form th:action="@{/member/registerSeller}" method="post" class="sellerForm Form">
                    <div class="seller">
                        <div>
                            <div class="paragraph">
                                <p>아이디</p>
                                <p class="sIdMsg msgs"></p>
                            </div>
                            <input type="text" name="sellerId" id="sellerId" placeholder="아이디 입력" required>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>비밀번호</p>
                                <p class="sPwMsg msgs"></p>
                            </div>
                            <input type="password" name="password" id="sellerPw" placeholder="비밀번호 입력" required>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>비밀번호 확인</p>
                                <p class="sPw2Msg msgs"></p>
                            </div>
                            <input type="password" name="password2" id="sellerPw2" placeholder="비밀번호 재입력" required>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>회사명</p>
                                <p class="sCompanyMsg msgs"></p>
                            </div>
                            <input type="text" name="companyName" id="companyName" placeholder="회사명 입력" required>
                        </div>
                        <div>
                            <p>이름(대표자명)</p>
                            <input type="text" name="delegate" placeholder="이름 입력">
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>사업자 등록번호</p>
                                <p class="sBusinessMsg msgs"></p>
                            </div>
                            <input type="text" name="businessNo" id="businessNo" placeholder="사업자 등록번호 입력" required>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>통신판매업 번호</p>
                                <p class="sCommunicationMsg msgs"></p>
                            </div>
                            <input type="text" name="communicationNo" id="communicationNo" placeholder="통신판매업 번호 입력"
                                   required>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>전화번호</p>
                                <p class="sHpMsg msgs"></p>
                            </div>
                            <input type="text" name="hp" id="sHp" placeholder="전화번호 입력" required>
                        </div>
                        <div>
                            <div class="paragraph">
                                <p>팩스</p>
                                <p class="sFaxMsg msgs"></p>
                            </div>
                            <input type="text" name="fax" id="fax" placeholder="팩스 입력" required>
                        </div>
                        <div class="addressBox">
                            <p>주소</p>
                            <input type="text" id="sellerPostcode" name="zip" placeholder="우편번호 검색"
                                   onclick="sellerDaumpostcode()" readonly><br>
                            <input type="text" id="sellerAddress" name="addr1" placeholder="기본주소 검색" readonly>
                            <input type="text" id="sellerAddress2" name="addr2" placeholder="상세주소 입력">
                        </div>
                        <div class="termsBox">
                            <p>약관동의</p>
                            <div>
                                <label class="checkAll">
                                    <input type="checkbox" name="all" class="termsCheck all2">
                                    전체동의
                                </label>
                            </div>
                            <div class="hr"></div>
                            <div class="termsCheckBox">
                                <div class="terms">
                                    <input type="checkbox" name="one" class="termsCheck check2" required>
                                    <span class="required">[필수]</span>
                                    <a href="#" class="terms-link" data-type="seller">이용약관</a>
                                </div>
                                <div class="terms">
                                    <input type="checkbox" name="two" class="termsCheck check2" required>
                                    <span class="required">[필수]</span>
                                    <a href="#" class="terms-link" data-type="trade">전자금융 이용약관</a>
                                </div>
                                <div class="terms">
                                    <input type="checkbox" name="three" class="termsCheck check2" required>
                                    <span class="required">[필수]</span>
                                    <a href="#" class="terms-link" data-type="privacy">개인정보 수집동의</a>
                                </div>
                                <div class="terms">
                                    <input type="checkbox" name="four" class="termsCheck check2">
                                    <span class="choice">[선택]</span>
                                    <a href="#" class="terms-link" data-type="place">위치정보 이용약관</a>
                                </div>
                            </div>
                        </div>
                        <div class="submitBox">
                            <button type="submit">가입하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<div id="modalControl">
    <div id="termsModal">
        <div class="modalHeader">
            <p class="termsTitle"></p>
            <button class="closeBtn"></button>
        </div>
        <div class="modalBody">
            <textarea readonly></textarea>
        </div>
    </div>
</div>
<script>
    function sendEmail() {
        const email = document.getElementById("email").value;
        const sendEmailBtn = document.getElementById("sendEmailBtn");

        fetch("/member/email/send", {
            method: "POST",
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: new URLSearchParams({email})
        })
            .then(() => {
                alert("이메일로 인증코드가 발송되었습니다.");
                document.querySelector(".codeBox").style.display = "flex";
                sendEmailBtn.disabled = true;
                sendEmailBtn.style.cursor = 'not-allowed';
            });
    }

    function verifyEmailCode(e) {
        const email = document.getElementById("email").value;
        const code = document.getElementById("emailCodeInput").value.trim();
        const emailMsg = document.querySelector('.emailMsg');

        if (code === '') {
            e.preventDefault();
            emailMsg.innerText = '인증코드를 입력해주세요';
            emailMsg.style.color = '#E60012';
            return;
        }

        fetch("/member/email/verify", {
            method: "POST",
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: new URLSearchParams({email, code}),
            credentials: 'include'
        })
            .then(res => res.json())
            .then(success => {
                if (success) {
                    emailMsg.innerText = '이메일이 인증되었습니다';
                    emailMsg.style.color = 'green';
                } else {
                    e.preventDefault();
                    emailMsg.innerText = '인증코드가 일치하지 않습니다';
                    emailMsg.style.color = '#E60012';
                }
            })
            .catch(() => {
                e.preventDefault();
                emailMsg.innerText = '서버 오류로 인증에 실패했습니다';
                emailMsg.style.color = '#E60012';
            });
    }
</script>
</body>
</html>