<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자-매출현황</title>
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <!--Style-->
    <link rel="stylesheet" href="/style/admin/header.css">
    <link rel="stylesheet" href="/style/admin/shop/sales.css"/>
    <link rel="stylesheet" href="/style/admin/footer.css">
    <link rel="stylesheet" href="/style/admin/adminaside.css">
    <!--JavaScript-->
    <script src="/script/aside.js"></script>
</head>
<body>
<div id="container">
    <th:block th:include="/admin/_adminHeader"/>
    <main>
        <th:block th:include="/admin/_adminAside"/>
        <div class="adminMain">
            <div class="mainTop">
                <h4>매출현황</h4>
                <div><span>HOME > 상점관리 > <p>매출현황</p></span></div>
            </div>
            <div class="shopArea">
                <div class="searchArea">
                    <select>
                        <option>선택</option>
                        <option>일별</option>
                        <option>주간</option>
                        <option>한달</option>
                    </select>
                </div>
                <table>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>번호</th>
                        <th>상호명</th>
                        <th>사업자등록번호</th>
                        <th>주문건수</th>
                        <th>결제완료</th>
                        <th>배송중</th>
                        <th>배송완료</th>
                        <th>구매확정</th>
                        <th>주문합계</th>
                        <th>매출합계</th>
                    </tr>
                    <p th:text="${#lists.size(salesList)}+'개 조회됨'"></p>
                    <tr th:each="sale, iterStat : ${salesList}">
                        <td><input type="checkbox"></td>
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${sale.companyName}"></td>
                        <td th:text="${sale.businessNo}"></td>
                        <td th:text="${sale.orderCount+'건'}"></td>
                        <td th:text="${sale.payDone+'건'}"></td>
                        <td>-</td>
                        <td>-</td>
                        <td th:text="${sale.purchaseDone}"></td>
                        <td th:text="${sale.orderTotal == 0 ? '0원' : #numbers.formatInteger(sale.orderTotal, 3, 'COMMA')+'원'}"></td>
                        <td th:text="${sale.salesTotal == 0 ? '0원' : #numbers.formatInteger(sale.salesTotal, 3, 'COMMA')+'원'}"></td>
                    </tr>
                </table>

                <div class="btnarea">
                    <div class="pageBtn">
                        <a href=""><img src="/images/back-double.png"></a>
                        <a href=""><img src="/images/back-single.png" class="single"></a>
                        <a href="" class="number">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href=""><img src="/images/right-single.png" class="single"></a>
                        <a href=""><img src="/images/right-double.png"></a>
                    </div>
                </div>





            </div>
        </div>
        <div id="bannerModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>상점 등록</h3>
                <form>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>아이디</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="아이디 입력">
                                        <p>영문, 숫자 4 ~ 12 자 설정</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호</th>
                                <td>
                                    <div>
                                        <input type="password" placeholder="비밀번호 입력">
                                        <p>영문, 숫자, 특수문자 8 ~ 12자 설정</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호 확인</th>
                                <td>
                                    <div><input type="password" placeholder="비밀번호 재입력"></div>
                                </td>
                            </tr>
                        </table>
                        <table class="sec">
                            <tr>
                                <th>회사명</th>
                                <td>
                                    <div><input type="text" placeholder="회사명 입력 예) (주) 상호명"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>대표</th>
                                <td>
                                    <div><input type="text" placeholder="이름 입력"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>사업자 등록번호</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="사업자 등록번호 입력">
                                        <p> - 포함 12자리 입력</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>통신 판매업 번호</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="통신 판매업 번호 입력">
                                        <p> - 포함 12자리 입력</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>전화번호</th>
                                <td>
                                    <div><input type="text" placeholder="전화번호 입력"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>팩스</th>
                                <td>
                                    <div><input type="text" placeholder="팩스번호 입력"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td class="address">
                                    <input type="text" placeholder="우편번호 검색 클릭"><br>
                                    <input type="text" placeholder="기본주소 검색"><br>
                                    <input type="text" placeholder="상세주소 입력">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modalbtn">
                        <button>등록하기</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <th:block th:replace="/admin/_adminFooter.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>