<footer>
    <section class="footer_menu">
        <nav>
            <ul>
                <li><a th:href="@{/intro/intro_home}">HOME</a></li>
                <li><a th:href="@{/intro/intro_culture}">기업문화</a></li>
                <li><a th:href="@{/intro/intro_story}">소식과 이야기</a></li>
                <li><a th:href="@{/intro/intro_employ}">채용</a></li>
                <li><a th:href="@{/intro/intro_media}">미디어</a></li>
            </ul>
        </nav>
        <div>
            <p>peoplevalue@lotte.net</p>
        </div>
    </section>
    <section class="footer_menu2">
        <div>
            <p>© 2025 All rights Reserved</p>
        </div>
        <div>

        </div>
    </section>
</footer>