<header>
    <div class="logo">
        <a th:href="@{/}">
            <img src="/images/ON_CI_BI.png" alt="로고" width="166px">
        </a>
    </div>
    <nav class="header_menu">
        <ul>
            <li><a th:href="@{/intro/intro_home}">HOME</a></li>
            <li><a th:href="@{/intro/intro_culture}">기업문화</a></li>
            <li><a th:href="@{/intro/intro_story}">소식과 이야기</a></li>
            <li><a th:href="@{/intro/intro_employ}">채용</a></li>
            <li><a th:href="@{/intro/intro_media}">미디어</a></li>
        </ul>
    </nav>
</header>