<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사소개 미디어</title>
    <link rel="stylesheet" href="/style/intro/intro_media.css">
</head>
<body>
<th:block th:insert="~{/intro/_header.html}"/>

    <main>
        <div class="youtube">
            <div class="video_item">
              <a href="https://www.youtube.com/watch?v=AEHoUyrL6bI" target="_blank">
                <img src="https://img.youtube.com/vi/AEHoUyrL6bI/0.jpg" alt="썸네일">
                <p>롯데레드페스티벌 개막🎉 100만 포인트가 쏟아진다!!</p>
              </a>
            </div>
            <div class="video_item">
              <a href="https://www.youtube.com/watch?v=9ZtsI8Hn1rg" target="_blank">
                <img src="https://img.youtube.com/vi/9ZtsI8Hn1rg/0.jpg" alt="썸네일">
                <p>[롯데ON] 🎈4월9일 롯데를 가지세요!🎈 4,300만의 브랜드 대축제!</p>
              </a>
            </div>
            <div class="video_item">
              <a href="https://www.youtube.com/watch?v=PEUvPBB2v6U" target="_blank">
                <img src="https://img.youtube.com/vi/PEUvPBB2v6U/0.jpg" alt="썸네일">
                <p>[롯데ON] 🚨단, 10일!🚨 올 하반기 역대급 브랜드 쇼핑 축제, 온세상 쇼핑 페스타 (*10.14 ~10.23)</p>
              </a>
            </div>
        </div>
    </main>

<th:block th:insert="~{/intro/_footer.html}"/>
</body>
</html>