<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사소개 채용</title>
    <link rel="stylesheet" href="/style/intro/intro_employ.css">
    <style>

    </style>
</head>
<body>
<th:block th:insert="~{/intro/_header.html}"/>

    <main>
        <div class="title">
            <h2>Join to LOTTE ON</h2>
            <h1>쇼핑을 새롭게, 세상을 이롭게 이끌</h1>
            <h1>쇼핑 좀 해 본 인재를 모십니다!</h1>
        </div>
        <div class="subtitle">
            <p>롯데ON은 안정성있고 혁신성있게 우리의 문화를 만들어가고 있어요.</p>
            <p>구성원들은 수평적이고 자율적인 문화 속에서 개선을 넘어서 혁신적인 롯데ON만의 서비스를 만들어요.</p>
            <p>롯데ON과 함께 굵은 점을 찍어가며 성장하실 분들을 기다립니다.</p>
        </div>
        <section class="list">
            <nav>
                <div class="searchArea">
                    <form th:action="@{/intro/recruitSearch}">
                        <select name="searchType">
                            <option>선택</option>
                            <option value="cate">채용부서</option>
                            <option value="employType">채용형태</option>
                            <option value="title">제목</option>
                        </select>
                        <input type="text" name="keyword" placeholder="검색어 입력">
                        <input type="submit" value="검색">
                    </form>
                </div>
            </nav>

            <section class="job_list">
                <p style="margin-bottom: 20px; float: right">제목 클릭 시 자세히보기</p>
                <div th:each="recruit, i : ${page.dtoList}">
                    <div class="job_item">
                        <div class="job-info">
                            <h3>
                                <a th:href="@{/intro/intro_employ_view(recruitNo=${recruit.recruitNo})}" style="text-decoration: none; color: inherit;">
                                    [[${recruit.title}]]
                                </a>
                            </h3>
                            <p>[[${recruit.cate}]]&nbsp;&nbsp;|&nbsp;&nbsp;[[${recruit.experience}]]&nbsp;&nbsp;|&nbsp;&nbsp;[[${recruit.employType}]]</p>
                        </div>
                        <div class="job_tag">
                            <span th:if="${recruit.endDate >= #dates.format(#dates.createNow(), 'yyyy-MM-dd')}" style="font-size: 14px; color: #3366cc; font-weight: bold">모집중</span>
                            <span th:if="${recruit.endDate < #dates.format(#dates.createNow(), 'yyyy-MM-dd')}" style="font-size: 14px; color: red; font-weight: bold">마감</span>
                        </div>
                    </div>
                </div>
                <div class="pageBtn">
                    <th:block th:if="${page.end > 0}">
                        <th:block th:if="${page.prev}">
                            <a th:href="@{/intro/intro_employ(pg=${page.start-2})}" class="prev">
                                <img src="/images/back-double.png">
                            </a>
                        </th:block>
                        <th:block th:if="${page.prev}">
                            <a th:href="@{/intro/intro_employ(pg=${page.start-1})}" class="prev">
                                <img src="/images/back-single.png" class="single">
                            </a>
                        </th:block>

                        <th:block th:each="num:${#numbers.sequence(page.start, page.end)}">
                            <a th:href="@{/intro/intro_employ(pg=${num})}" th:class="${num == page.pg} ? 'current' : 'num'">[[${num}]]</a>
                        </th:block>

                        <th:block th:if="${page.next}">
                            <a th:href="@{/intro/intro_employ(pg=${page.end+1})}" class="next">
                                <img src="/images/right-single.png" class="single">
                            </a>
                        </th:block>
                        <th:block th:if="${page.next}">
                            <a th:href="@{/intro/intro_employ(pg=${page.end+2})}" class="next">
                                <img src="/images/right-double.png">
                            </a>
                        </th:block>
                    </th:block>
                </div>
            </section>
        </section>
    </main>

<th:block th:insert="~{/intro/_footer.html}"/>
    
</body>
</html>