ul { 
    list-style-type: none; /* 불릿 제거 */ 
}
a { 
    text-decoration: none; 
    color: black;
}
main { 
    display: flex;
    width: 1140px; 
    margin: 0 auto;
    align-items: stretch; 
}
textarea {
    width: 1000px;
    margin-left: 30px;
    min-height: 700px;
    margin-bottom: 50px;
    border: none;
    resize: none;
}
/* 화면에서는 print-only 숨기고 textarea 보이기 */
@media screen {
    .print-only {
        display: none;
    }
    textarea {
        display: block;
    }
}

/* 인쇄할 때는 textarea 숨기고 print-only 보이기 */
@media print {
    .print-only {
        width: 80%;!important;
        display: block !important;
        white-space: pre-wrap !important;
        font-family: inherit !important;
        padding: 20px !important;
    }
    textarea {
        display: none !important;
    }
}


/*메인*/
.main_content {
    float: right;
    margin-top: 60px;
    margin-left: 20px;
    width: 1100px;
    border-bottom: 5px solid #dfdfdf;
    margin-bottom: 20px;
}

.main_content h1 {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 400;
}
.sub_menu ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 2열 정렬 */
    gap: 20px;
    list-style: none;
    justify-items: center;
    align-items: center;
  }
.sub_menu li {
    text-align: center;
}
.sub_menu img {
    width: 70px;
    margin-bottom: 8px;
}

.sub_menu {
    margin-top: 150px;
    padding: 20px;
}
.sub_menu li a {
    font-weight: 600;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease;
}
.sub_menu li a:hover {
    font-weight: 600;
    color: #636161;
}
.sub_menu li.selected a {
    font-weight: 600;
    color: #636161;
}
.sub_menu li.selected {
    border: 3px solid #dfdfdf;
    border-radius: 15px;
    padding: 10px;
}
.tab_content h3 {
    padding: 10px 40px;
    font-size: 25px;
}
.tab_content table{
    width: 100%;
    padding-left: 40px;
    text-align: left;
    margin-bottom: 50px;
}
.tab_content th {
    font-size: 20px;
}
.tab_content td {
    padding: 20px 10px;
    width: 100%;
    border-bottom: 3px solid #dfdfdf;
    overflow-y: auto;          /* 수직 스크롤 */
    display: block;            /* block으로 바꿔야 height 적용됨 */
    letter-spacing: normal;
    line-height: 2.3;
    box-sizing: border-box;
    font-family: '돋움', sans-serif;
    font-size: 12px;
    color: #333;
    
}
.print_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    float: right;
}

.print_button img {
    width: 50px;

}
