<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 메인</title>
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/policy/policy.css">
</head>
<body>
    <th:block th:include="/common/_header.html"/>

    <main>
        <section class="content clearfix">
            <div class="main_content">
                <h1>LotteOn 서비스 이용약관</h1>
            </div>
            <section class="sub_menu">
                <ul>
                    <li data-target="customer" class="selected">
                        <a href="#">
                            <img src="/images/policy/store-buyer%20(1).png" alt="">
                            구매회원약관
                        </a>
                    </li>
                    <li data-target="seller">
                        <a href="#">
                            <img src="/images/policy/seller.png" alt="">
                            판매회원약관
                        </a>
                    </li>
                    <li data-target="banking">
                        <a href="#">
                            <img src="/images/policy/bank.png" alt="">
                            전자금융거래
                        </a>
                    </li>
                    <li data-target="location">
                        <a href="#">
                            <img src="/images/policy/land-layer-location.png" alt="">
                            위치정보약관
                        </a>
                    </li>
                    <li data-target="personal">
                        <a href="#">
                            <img src="/images/policy/hr-person.png" alt="">
                            개인정보처리
                        </a>
                    </li>
                </ul>
            </section>
            <button id="printBtn" class="print_button">
                <img src="/images/policy/print.png" alt="프린트">
            </button>

            <section class="content">
                <div class="tab_content" id="customer" >
                    <h3>구매회원 이용약관</h3>
                    <table>
                        <tr>
                            <td>
                                <textarea readonly th:text="${termsDTO.buyer}"></textarea>
                                <div class="print-only" th:text="${termsDTO.buyer}"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--구매회원약관 끝-->

                <div class="tab_content" id="seller" style="display: none;">
                    <h3>판매회원 이용약관</h3>
                    <table>
                        <tr>
                            <td>
                                <textarea readonly th:text="${termsDTO.seller}"></textarea>
                                <div class="print-only" th:text="${termsDTO.seller}"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--판매회원약관 끝-->

                <div class="tab_content" id="banking" style="display: none;">
                    <h3>전자금융거래 이용약관</h3>
                    <table>
                        <tr>
                            <td>
                                <textarea readonly th:text="${termsDTO.trade}"></textarea>
                                <div class="print-only" th:text="${termsDTO.trade}"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--전자금융거래 끝-->
                
                <div class="tab_content" id="location" style="display: none;">
                    <h3>위치정보 이용약관</h3>
                    <table>
                        <tr>
                            <td>
                                <textarea readonly th:text="${termsDTO.place}"></textarea>
                                <div class="print-only" th:text="${termsDTO.place}"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--위처정보약관 끝-->

                <div class="tab_content" id="personal" style="display: none;">
                    <h3>개인정보처리방침</h3>
                    <table>
                        <tr>
                            <td>
                                <textarea readonly th:text="${termsDTO.privacy}"></textarea>
                                <div class="print-only" th:text="${termsDTO.privacy}"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--개인정보처리 끝-->
            </section>
        </section>
    </main>
    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
    <script src="/script/policy.js"></script>
</body>
</html>