* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
button {
    all: unset;
    cursor: pointer;
}
img {
    width: 25px;
    height: 25px;
}
/* --------------------- main --------------------- */
.adminMain {
    width: 840px;
    height: auto;
    padding: 15px 60px 30px 0;
}
.mainTop {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #8a8a8a;
    padding: 10px 0;
}
.mainTop h4 {
    font-size: 25px;
    font-weight: bold;
}
.mainTop div {
    margin-left: auto;
    display: flex;
}
.mainTop span {
    display: flex;
    gap: 5px;
}
.mainTop span p {
    font-weight: bold;
    margin: 0;
}
h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}
table {
    width: 100%;
    height: auto;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-collapse: collapse;
}
table tr {
    border-bottom: 2px solid #dddddd;
}
table tr th {
    height: 45px;
    background-color: #93b7d0;
    color: white;
}
table tr th a {
    color: white;
}
table tr td {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    height: 30px;
}
.btnarea {
    display: flex;
    align-items: center;
    position: relative;
}
.btnarea button {
    width: 100px;
    height: 50px;
    background-color: #8a8a8a;
    color: white;
    text-align: center;
    margin-top: 15px;
}
.btnarea .pageBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.btnarea .pageBtn .number {
    font-size: 17px;
    width: 24px;
    height: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 3px;
}
.btnarea .pageBtn .single {
    width: 15px;
    height: 15px;
}
.shopArea {
    padding: 20px;
}
.shopArea button {
    line-height: 10px;
}
.searchArea {
    margin-bottom: 15px;
}
.searchArea select {
    padding: 10px;
}
.searchArea input {
    padding: 10px;
}
.searchArea button {
    padding: 16px;
    background-color: #3f97f6;
    color: white;
}
/* --------------------- main --------------------- */
